.mainGrid img {
	z-index: -1;
}

.bla
{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1040px){
    .onconstruct{
        display: none;
    }
    .mainSlider {
        float:right;
        width: 41.66%;
        height: 450px;
    }
        
    .mainSliderPic {
        height: 450px;
        width: 100%;
    }
    
    .firstRowQubicals {
        width: 58.33%;
        float: right;
        border: 0px solid transparent;
        height: 450px;
    }
    
    .thumiInyanQube{
    
	   height: 200px;
       width: 41.66%;
        float:right;
    }
    
    .tarbutBenhaviraImg{
        height: 220px;
        width: 100%;
    }
}

@media (max-width: 1040px){  
    .onconstruct{
        float: right;
        font-size: 18px; 
        color:#be4c22; 
        text-align:right; 
        font-family:'almoni-dl', sans-serif;
    }

    .mainSlider {
        float:right;
        width: 100%;
        height: 200px;
    }
    
    .mainSliderPic {
        height: 200px;
        width: 100%;
    }
    
    .firstRowQubicals {
        width: 100%;
        float: right;
        border: 0px solid transparent;
        height: 450px;
    }
    
    .thumiInyanQube{
	   background-color: #e0ab97; 
	   height: 220px;
       width: 100%;
       float:right;
    }
    
    .thumiInyanImgDiv {
        position: relative; 
        float: left;
        height: 100%;
        width: 100%;
        margin-left: 10px;
    }
    .tarbutBenhaviraImg{
        
    }
}


/* Main Grid style */

/* Grid definitions */
* {
    box-sizing: border-box;
}

.mainGrid {
	height: 680px; 
	margin-top: 170px;
    
}

.row {
	content: "";
    clear: both;
    display: block;
	margin-bottom: 5px;
	max-width: 1550px;
}

[class*="col-"] {
    float: right;
    border: 0px solid transparent;
}

.innerMainSlider {
    width: 100%;
    height: 100%;

}
.margined {
    margin-left: 10px; 
}

.innerSecSlider {
    float:right;
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

.col-0 {width: 7%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-25 {width: 20.83%;}
.col-3 {width: 25%;}
.col-35 {width: 31%;}
.col-4 {width: 33.33%;}
.col-45 {width: 36.32%}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.borderd {
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 19px;
	border-style: solid;  
    border-width: 1px;
    border-color: black;
	/*padding-bottom: 5px;*/
	height: 200px;
    position: relative;
    top: 10px;
    
}

.yedionGridDiv {
    position: relative;
    top: 0px;
    background-color: #be4c22; 
    height: 220px;
    margin-left: 10px;
    margin-top: 10px;
}

.coverdImag{
	position: relative; 
	float: left;
	height: 100%;
    width: 100%;
}

.tarbutBenhaviraDiv {
    position: relative; 
    margin-left: 10px;
}

.tarbutBenhaviraQube {
    width: 33.33%;
    height: 220px;
    float: right;
}

.yedionQube {
    width: 33.33%;
    height: 220px;
    float: right;
}

.thumiInyanDiv {
    background-color: #e0ab97; 
    height: 220px;
    margin-left: 10px;
    margin-top: 10px;
}
.thumiInyanHeader{
    float:right;
	position: relative; 
	right: 20px; 
	top:40px;
	color:#be4c22;
	font-size: 21px;
	font-weight: bold; 
	font-family:'almoni-dl', sans-serif;
}

.interestsOptions
{
    position: relative;
    float: right;
    margin-right: 20px;
    top: -130px;
    width: 350px;
    height: auto;
}
.thumiInyanText{
    margin-top:0px;
    margin-bottom: 5px;
	font-size: 18px; 
	position: relative; 
    float: right;
	color:#be4c22; 
	text-align:right; 
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
}

.thumiInyanText:hover{
	font-size: 18px; 
	position: relative; 
    float: right;
	color:#be4c22; 
	text-align:right; 
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.odotHeader{
	position: absolute; 
	width:100%;
	top:20px; 
	text-align:center; 
	font-size: 36px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
}

.odotHeader:hover{
	position: absolute; 
	width:100%;
	top:20px; 
	text-align:center; 
	font-size: 36px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
     cursor: pointer;
    text-decoration: underline;
}

.hahodeshHeader{
	position: absolute; 
    direction: rtl;
	width:100%;
	top:30px;	
	text-align:center; 
	font-size: 36px;
	font-weight: bold; 
	color: #9fae83;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
}
.hahodeshHeader:hover{
	position: absolute; 
    direction: rtl;
	width:100%;
	top:30px;	
	text-align:center; 
	font-size: 36px;
	font-weight: bold; 
	color: #9fae83;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.harshamaHeader{
	position: absolute; 
    direction: rtl;
	width:100%;
	top:20px; 
	right: 30px;
	text-align:right; 
	font-size: 41px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
}
.harshamaHeader:hover{
	position: absolute; 
    direction: rtl;
	width:100%;
	top:20px; 
	right: 30px;
	text-align:right; 
	font-size: 41px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.tarbutHeader {
	position: absolute; 
	width:100%;
	top:45px; 
	text-align:center; 
	font-size: 36px;
	font-size: 36px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    direction: rtl;
}

.yedionHeader {
	position: absolute; 
	width:100%;
	top:30px; 
	text-align:center; 
	font-size: 21px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
}

.yedionHeader:hover {
	position: absolute; 
	width:100%;
	top:30px; 
	text-align:center; 
	font-size: 21px;
	font-weight: bold; 
	color: white;
	font-family:'almoni-dl', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.odotQube {
    margin-top: 10px;
    height: 220px;
    width: 19.38%;
    float: right;
    position: relative;
    right: 0px;
}

.emptyQube {
    margin-top: 10px;
    height: 100%;
    width: 22.3%;
    float: right;
    position: relative;
    right: 0px;
}

.emptyQubeDiv {
    height: 100%;
    margin-left: 10px;
}