.mainGrid {
    height: 1000px;
    margin-top: 170px;
    width: 100%;
}

.solidLine {
    height: 5px;
    background-color: #7B8F54; 
    width: 100%;
}

.pageHeader {
    float:right;
    width: 100%;
    height: 160px;
    display: block;
}

.headerTextDiv {
    width: 38%;
    height: 160px;
    float: right;
    background-color: #C4CDB2;
    margin-left: 15px;
}

.headerText {
    width: 40%;
    height: 15px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    font-size: 36px; 
	color: #7B8F54; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
}

.centerHeaderPhoto {
    width: 29%;
    height: 160px;
    float: right;
    margin-left: 19px;
}

.mainSlider {
    float:right;
    width: 29%;
    height: 160px;
    display: block;
}

.mainSliderPic {
    height:160px;
    width: 100%;
}


.mainContent {
    width: 70%;
    height: 500px;
    margin-top: 10px;
    float:right;
    clear: both;

}

.margined {
    margin-left: 20px;
    height: 800px;
    background-color:  #efefe9;
}
.contentHeader {
    background-color: #bc4519; 
    height: 52px;
    overflow:auto;
}

.ContentHeaderText{
    width: 80%;
    height: 15px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 27px; 
	color:white; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 

}

.mainPosts {
    margin-top: 20px;
}

.postDetails {
    margin-top: 25px;
    cursor: pointer;
}
.mainPostTitleText {
    width: 80%;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 21px; 
	color: #bc4519; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
}

.mainPostContentText {
    width: 80%;
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    font-size: 17px; 
	color: black; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
    color: #474747;
}

.mainPostTitleText p {
    margin-top:3px;
    margin-bottom: 0px;
}

.mainPostContentText p {
    margin-top:3px;
    margin-bottom: 0px;
}

.secondaryPosts {
    margin-top: 30px;
}
.secondaryPostsTitleText {
    margin-top: 30px;
    width: 80%;
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 21px; 
	color: #bc4519; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
    border-bottom-style: solid;
    border-bottom-color: #bc4519;
    border-bottom-width: 1px;
    padding-bottom: 20px;
}

/*
Secondary Menu
*/


.interestInTheKated {
    width: 100%;
    height: 52px;
    background-color: #ACB893;
}

.interestInTheKatedText {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 10px;
    float: right;
    font-size: 21px; 
	color: white; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
    overflow: auto;
    width: 100%;
    text-align: right;
    direction: rtl;
}

.interestsList {
    margin-right: 0px;
    float: right;
    text-align: right;
    direction: rtl;    
    font-size: 18px; 
	font-family:'almoni-dl', sans-serif; 
    width: 100%;
    line-height: 165%;

}

.interestsList li a {
    color: black;
    text-align: right;
    text-decoration: none;
	margin-top: 75px;
	font-size: 18px;
	font-family:'almoni-dl', sans-serif;
    width: 100%;
    color: #474747;
}

.signIn {
    margin-top: 30px;
    height:80px;
    width: 100%;
    float: right;
    position: relative;
    cursor: pointer;
}

.signInText {
    position: absolute;
    top: 25px;
    right: 110px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 27px; 
	color:white; 
	text-align:right; 
    font-weight: bold; 
	font-family:'almoni-dl', sans-serif; 
}

.secondaryContent {
    margin-top: 10px;
    float: right;
    width: 30%;
    overflow: auto;
    height: 500px;  
}

.soildLine2 {
    height: 5px;
    background-color: #7B8F54; 
    width: 100%;
}


.row {
	content: "";
    clear: both;
    display: block;
	max-width: 1550px;
}